

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

body{
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    gap: 4rem;
}

#header h1{
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    font-size: 45px;
}

#header img{
    width: 100%;
    height: auto;
    max-width: 170px;

}

#LaPizza{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    gap: 30px;
}

.BtnBuscar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    padding: 0.7rem;
    font-size: medium;
    font-weight: 600;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

#LaPizza .FormularioPizza input{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 1rem;
    background-color: whitesmoke;
    
}

button{
    padding: 0.5rem;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

#ContenedorError{
    display: flex;
    justify-content: center;
    align-items: center;
}


#CardPizza{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    
}

#CardPizza img {
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}